<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bank_abc</key>
	<dict>
		<key>code</key>
		<string>01030000</string>
		<key>name</key>
		<string>农业银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_abc</string>
		<key>image_grey</key>
		<string>bk_logo_abc</string>
	</dict>
	<key>bank_bj</key>
	<dict>
		<key>code</key>
		<string>04031000</string>
		<key>name</key>
		<string>北京银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_bj</string>
		<key>image_grey</key>
		<string>bk_logo_bj</string>
	</dict>
	<key>bank_ceb</key>
	<dict>
		<key>code</key>
		<string>03060000</string>
		<key>name</key>
		<string>光大银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_ebank</string>
		<key>image_grey</key>
		<string>bk_logo_guangda</string>
	</dict>
	<key>bank_cgb</key>
	<dict>
		<key>code</key>
		<string>01020000</string>
		<key>name</key>
		<string>广发银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_guangfa</string>
		<key>image_grey</key>
		<string>bk_logo_guangfa</string>
	</dict>
	<key>bank_hzb</key>
	<dict>
		<key>code</key>
		<string>04233310</string>
		<key>name</key>
		<string>杭州银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_hangzhou</string>
		<key>image_grey</key>
		<string>bk_logo_hangzhou</string>
	</dict>
	<key>bank_hfb</key>
	<dict>
		<key>code</key>
		<string>01030000</string>
		<key>name</key>
		<string>恒丰银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_hengfeng</string>
		<key>image_grey</key>
		<string>bk_logo_hengfeng</string>
	</dict>
	<key>bank_abc - 7</key>
	<dict>
		<key>code</key>
		<string>01030000</string>
		<key>name</key>
		<string>农业银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_abc</string>
		<key>image_grey</key>
		<string>bk_logo_abc</string>
	</dict>
	<key>bank_abc - 8</key>
	<dict>
		<key>code</key>
		<string>01030000</string>
		<key>name</key>
		<string>农业银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_abc</string>
		<key>image_grey</key>
		<string>bk_logo_abc</string>
	</dict>
	<key>bank_abc - 9</key>
	<dict>
		<key>code</key>
		<string>01030000</string>
		<key>name</key>
		<string>农业银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_abc</string>
		<key>image_grey</key>
		<string>bk_logo_abc</string>
	</dict>
	<key>bank_abc - 10</key>
	<dict>
		<key>code</key>
		<string>01030000</string>
		<key>name</key>
		<string>农业银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_abc</string>
		<key>image_grey</key>
		<string>bk_logo_abc</string>
	</dict>
	<key>bank_abc - 11</key>
	<dict>
		<key>code</key>
		<string>01030000</string>
		<key>name</key>
		<string>农业银行</string>
		<key>image</key>
		<string>bk_supportbanklogo_abc</string>
		<key>image_grey</key>
		<string>bk_logo_abc</string>
	</dict>
</dict>
</plist>
